[flake8]
extend-ignore = E501
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # No need to check virtual environment
    .venv,
    __init__.py
max-complexity = 10
max-line-length = 120